{% extends 'base.html.twig' %}

{% block title %}Gite index{% endblock %}

{% block body %}
    <nav>{{ parent() }}</nav>
    <h1>Gite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Id_cities</th>
                <th>Surface</th>
                <th>Link_picture</th>
                <th>Chambres</th>
                <th>Couchages</th>
                <th>Prix de base</th>
                <th>Prix total</th>
                <th>Id_service</th>
                <th>Id_equipement</th>
                <th>Id_price_period</th>
                <th>Id_pets</th>
                <th>Id_position</th>
                <th>Id_owner</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gite in gites %}
            <tr>
                <td>{{ gite.id }}</td>
                <td>{{ gite.adress }}</td>
                <td>{{ gite.idCities }}</td>
                <td>{{ gite.surface }}</td>
                <td>{{ gite.linkPicture }}</td>
                <td>{{ gite.rooms }}</td>
                <td>{{ gite.beds }}</td>
                <td>{{ gite.basePrice }}</td>
                <td>{{ gite.totalPrice }}</td>
                <td>{{ gite.idService }}</td>
                <td>{{ gite.idEquipement }}</td>
                <td>{{ gite.idPricePeriod }}</td>
                <td>{{ gite.idPets }}</td>
                <td>{{ gite.idPosition }}</td>
                <td>{{ gite.idOwner }}</td>
                <td>
                    <a href="{{ path('app_gite_show', {'id': gite.id}) }}">show</a>
                    <a href="{{ path('app_gite_edit', {'id': gite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gite_new') }}">Create new</a>
{% endblock %}
