{% extends 'base.html.twig' %}

{% block title %}Gite{% endblock %}

{% block body %}
    <h1>Gite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gite.id }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ gite.adress }}</td>
            </tr>
            <tr>
                <th>Id_cities</th>
                <td>{{ gite.idCities }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ gite.surface }}</td>
            </tr>
            <tr>
                <th>Link_picture</th>
                <td>{{ gite.linkPicture }}</td>
            </tr>
            <tr>
                <th>Rooms</th>
                <td>{{ gite.rooms }}</td>
            </tr>
            <tr>
                <th>Beds</th>
                <td>{{ gite.beds }}</td>
            </tr>
            <tr>
                <th>Base_price</th>
                <td>{{ gite.basePrice }}</td>
            </tr>
            <tr>
                <th>Total_price</th>
                <td>{{ gite.totalPrice }}</td>
            </tr>
            <tr>
                <th>Id_service</th>
                <td>{{ gite.idService }}</td>
            </tr>
            <tr>
                <th>Id_equipement</th>
                <td>{{ gite.idEquipement }}</td>
            </tr>
            <tr>
                <th>Id_price_period</th>
                <td>{{ gite.idPricePeriod }}</td>
            </tr>
            <tr>
                <th>Id_pets</th>
                <td>{{ gite.idPets }}</td>
            </tr>
            <tr>
                <th>Id_position</th>
                <td>{{ gite.idPosition }}</td>
            </tr>
            <tr>
                <th>Id_owner</th>
                <td>{{ gite.idOwner }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gite_index') }}">back to list</a>

    <a href="{{ path('app_gite_edit', {'id': gite.id}) }}">edit</a>

    {{ include('gite/_delete_form.html.twig') }}
{% endblock %}
